body {
    background-color: #a0958f;
}

.events-top{
    text-align: center;
    color: lightgrey;
}

.thumbnail {
    padding:0;
}
.btn-default{
    margin-top: 25px;
}

.btn-default:hover{
    background-color: #954858;
    color: lightgrey;
}

.concert{
    color: #565454;
    text-decoration:underline;
    padding-bottom: 20px;
    text-align: right;
}